body {
    background-color: rgb(246, 255, 238);
}
.page-header {
    background-color: #465a41;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #f5f5f5;
    font-size: 36pt;
    text-decoration:solid;
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
    font-family: 'Lobster', cursive;
}

.date {
    color: #ffffff;
}

.save {
    float: right;
    color: #fdfdfd;
}

.post-form textarea,
.post-form input {
    width: 100%;
    border: radius 40px;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    color: #fdfdfd;
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #ffffff;
}

.post > .date,
.post > .actions {
    color: #fdfdfd;
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #ffffff;
    background: none;
    border-color: #ffffff;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #ffffff;
}

.col{
    background-color: #2a3a23;
    box-shadow: #2a3a23;
    color: #f5f5f5;
}
.p{
    font-family: "Protest Riot", sans-serif;
}